<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ac.kr.ft.com.persistance.mapper.AuthMapper">
	<select id="getAuthList" resultType="UserDTO">
		SELECT USER_NO, USER_ID, USER_NAME,AUTH FROM USER_INFO
		ORDER BY USER_NO
	</select>
	
	<update id="updateAuthOne" parameterType="UserDTO" >
		UPDATE USER_INFO SET AUTH = #{auth}, CHG_USER_NO=#{chg_user_no}, CHG_DT=SYSDATE  
			WHERE USER_NO = #{user_no}
	</update>
</mapper>